.section-full{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100svh;
    width: 100vw;
    color: white;
}

body{
    background-color: black;
    font-size: 1rem;
    line-height: 1.2;
    height: auto;
}

h1{
    color: white;
    max-width: 80rem;
    line-height: 110%;
    
}
